In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model, utils
import seaborn as sns

df = pd.read_csv('D:/VS/Pt/ML/Keras/hitters.csv')

In [ ]:
df.head()

In [4]:
df.columns.tolist()

['Unnamed: 0',
 'AtBat',
 'Hits',
 'HmRun',
 'Runs',
 'RBI',
 'Walks',
 'Years',
 'CAtBat',
 'CHits',
 'CHmRun',
 'CRuns',
 'CRBI',
 'CWalks',
 'League',
 'Division',
 'PutOuts',
 'Assists',
 'Errors',
 'Salary',
 'NewLeague']

In [5]:
df.shape

(322, 21)

In [7]:
# lets drop the player names as they are generally useless
hitters = df.drop(columns=['Unnamed: 0'])
hitters.columns.tolist()

['AtBat',
 'Hits',
 'HmRun',
 'Runs',
 'RBI',
 'Walks',
 'Years',
 'CAtBat',
 'CHits',
 'CHmRun',
 'CRuns',
 'CRBI',
 'CWalks',
 'League',
 'Division',
 'PutOuts',
 'Assists',
 'Errors',
 'Salary',
 'NewLeague']

In [8]:
hitters.shape

(322, 20)

In [9]:
# total null rows in Salary column
len(df[pd.isna(hitters.Salary)])

59